{% extends "layout.html" %}

{% block title %}
    My Cocktail Lists
{% endblock %}

{% block main %}
    {% if my_cocktail_lists %}
        <table class="table text-start">
            <thead>
                <tr>
                    <th>Cocktail list name</th>
                    <th class="text-center">Delete column</th>
                </tr>
            </thead>
            <tbody>
                {% for list_item in my_cocktail_lists %}
                    <tr>
                        <td>{{ list_item["name"] }}</td>
                        <td class="text-center">
                            <form action="/delete_list" method="post">
                                <button class="btn btn-outline-secondary" type="submit" name="delete_item" value="{{ list_item['name'] }}">Delete List</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                    <tr class="text-center">
                        <form action="/create_list" method="post">
                            <td>
                                <input type="text" class="form-control" placeholder="Create new" aria-label="Type list name" aria-describedby="button-addon2" name="list_name">
                            </td>
                            <td>
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Create list</button>
                            </td>
                        </form>
                    </tr>
            </tbody>
        </table>
    {% else %}
        <h3>You have no lists! Create one now</h3>
        <form action="/create_list" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type list name" aria-label="Type list name" aria-describedby="button-addon2" name="list_name">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Create list</button>
            </div>
        </form>
    {% endif %}
{% endblock %}