{% extends "layout.html" %}

{% block title %}
    My Ingredient List
{% endblock %}

{% block main %}
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for ingredient in ingredients %}
                <div class="col">
                    <div class="card h-100 text-start">
                        <img alt="{{ ingredient["strDrink"] }}" class="card-img-top" src="{{ ingredient["strDrinkThumb"] }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ ingredient["name"] }}</h5>
                            <p class="card-text">Type: {{ ingredient["type"] }}</p>
                            <p class="card-text">Alcoholic: {{ ingredient["strAlcohol"] }}</p>
                            <p class="card-text">ABV: {{ ingredient["strABV"] }}</p>
                            <a href="/remove_ingredient?id={{ ingredient["id"] }}&name={{ ingredient["name"] }}" class="btn btn-primary stretched-link">Remove me from your bar</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}