{% extends "layout.html"%}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div>
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div>
            <button class="btn" type="submit">Log in</button>
        </div>
    </form>
{% endblock %}